html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);  /* Ajusta la opacidad si es necesario */
    z-index: -1;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    overflow: auto;
}

.full-page-form, .full-width-form {
    width: 90%;  /* Usar el 90% del ancho de la pantalla */
    max-width: 600px;  /* Ancho máximo */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;  /* Asegura que el padding no afecte el ancho total */
    overflow: auto;  /* Permite el desplazamiento si el contenido es demasiado grande */
    margin-top: 20px; /* Espacio adicional para el título */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.title-container {
    background-color: rgba(244, 244, 241, 0.9); 
    padding: 20px 40px; 
    text-align: center;
    color: #333; 
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-top: 20px; /* Espacio adicional para el título */
}

.next-steps {
    margin-top: 20px;
}

.next-steps a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.next-steps a:hover {
    background-color: #0056b3;
}

form {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-sizing: border-box;  /* Asegura que el padding no afecte el ancho total */
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="password"],
form input[type="number"],
form input[type="date"],
form textarea,
form select,
form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;  /* Asegura que el padding no afecte el ancho total */
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-eliminar {
    background-color: #ff0000;  /* Rojo */
    color: #fff;  /* Texto blanco */
}

h1 {
    color: #333;
}

p {
    margin-bottom: 20px;
    color: #666;
}

.button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}
/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #007bff;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilos para los botones */
.btn {
    display: inline-block;
    padding: 5px 10px;  /* Botones más pequeños */
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    color: #fff;
    margin-right: 5px;
    font-size: 14px;  /* Fuente más pequeña */
    border: none; /* Sin borde */
}

.btn-modificar {
    background-color: #28a745; /* Verde */
}

.btn-modificar:hover {
    background-color: #218838;
}
.btn-editar:hover {
    background-color: #218838;
}
.btn-borrar {
    background-color: #dc3545; /* Rojo */
}

.btn-borrar:hover {
    background-color: #c82333;
}

.btn-volver {
    background-color: #007bff; /* Azul */
}

.btn-volver:hover {
    background-color: #0056b3;
}

/* Alinear formularios en línea */
.form-inline {
    display: inline; 
    margin: 0; /* Sin margen */
    padding: 0; /* Sin padding */
}
